<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	   default-autowire="byName">

	<bean id="dataSource"
		  class="com.geek.study.sql.DynamicDataSource">
		<property name="targetDataSources">
			<map>
				<entry key="master" value-ref="master"></entry>
				<entry key="slave" value-ref="slave"></entry>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="master"></property>
	</bean>


	<bean id="master" class="com.alibaba.druid.pool.DruidDataSource" >
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:MySql://127.0.0.1:3316/db?characterEncoding=utf8&amp;allowMultiQueries=true&amp;connectTimeout=2000&amp;socketTimeout=150000&amp;useJDBCCompliantTimezoneShift=true&amp;serverTimezone=CST" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="slave" class="com.alibaba.druid.pool.DruidDataSource" >
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:MySql://127.0.0.1:3326/db?characterEncoding=utf8&amp;allowMultiQueries=true&amp;connectTimeout=2000&amp;socketTimeout=150000&amp;useJDBCCompliantTimezoneShift=true&amp;serverTimezone=CST" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/sqlmap-config.xml" />
		<property name="mapperLocations">
			<list>
				<value>classpath*:sqlmap/**Mapper.xml</value>
			</list>
		</property>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
</beans>